{
  "extends": ["airbnb-typescript/base"],
  "env": {
    "es6": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "lines-between-class-members": "off",
    "no-bitwise": "off",
    "no-underscore-dangle": "off",
    "operator-linebreak": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-param-reassign": "off",
    "max-classes-per-file": "off",
    "import/no-cycle": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.ts"],
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    } 
  ]
}
